/* Mirador custom and fixes for common Omeka themes */
@media screen {
    .mirador {
        display: block;
        width: 90%;
        height: 600px;
        margin: 1em 5%;
        position: relative;
    }
    body .mirador-container {
        font-size: initial;
        line-height: initial;
    }
    .mirador-viewer .manifest-info .window-manifest-title {
        line-height: initial;
    }
}
