/* Mirador custom and fixes for common Omeka themes */
@media all {
    #user-bar .show {
        display: inline-block !important;
    }
    .mirador {
        display: block;
        width: 100%;
        height: 70vh;
        min-height: 600px;
        margin: 0;
        position: relative;
    }
    body .mirador-container {
        font-size: initial;
        line-height: initial;
    }
    .mirador-viewer .manifest-info .window-manifest-title {
        line-height: initial;
    }
    @media (min-width: 1200px) {
        .modal-dialog {
            width: 1440px;
            margin: 30px auto;
        }
    }
}
.play.fullscreen,
.play.fullscreen > .mirador {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
